body {
  font-family: sans-serif;
}
form {
  display: flex;
  flex-direction: column;
}

.following {
  background-color: tomato;
}

.companies {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  margin: 0.5rem;
  border-bottom: black solid 1px;
}

label {
  display: flex;
  flex-direction: column;
  padding: 1rem;
}

select {
  margin-top: 0.5rem;
}
